# Cleaning and concatenating dataframes

In [7]:
import pandas as pd

In [8]:
march_df = pd.read_csv('../datasets/march_reddit.csv')

In [9]:
march_df.shape

(817, 95)

In [10]:
march_df.columns

Index(['approved_at_utc', 'approved_by', 'archived', 'author',
       'author_cakeday', 'author_flair_background_color',
       'author_flair_css_class', 'author_flair_richtext',
       'author_flair_template_id', 'author_flair_text',
       'author_flair_text_color', 'author_flair_type', 'author_fullname',
       'author_patreon_flair', 'banned_at_utc', 'banned_by', 'can_gild',
       'can_mod_post', 'category', 'clicked', 'content_categories',
       'contest_mode', 'created', 'created_utc', 'crosspost_parent',
       'crosspost_parent_list', 'distinguished', 'domain', 'downs', 'edited',
       'gilded', 'gildings', 'hidden', 'hide_score', 'id', 'is_crosspostable',
       'is_meta', 'is_original_content', 'is_reddit_media_domain',
       'is_robot_indexable', 'is_self', 'is_video', 'likes',
       'link_flair_background_color', 'link_flair_css_class',
       'link_flair_richtext', 'link_flair_text', 'link_flair_text_color',
       'link_flair_type', 'locked', 'media', 'media_embed', 'media_metadata',
       'media_only', 'mod_note', 'mod_reason_by', 'mod_reason_title',
       'mod_reports', 'name', 'no_follow', 'num_comments', 'num_crossposts',
       'num_reports', 'over_18', 'parent_whitelist_status', 'permalink',
       'pinned', 'pwls', 'quarantine', 'removal_reason', 'report_reasons',
       'saved', 'score', 'secure_media', 'secure_media_embed', 'selftext',
       'selftext_html', 'send_replies', 'spoiler', 'stickied', 'subreddit',
       'subreddit_id', 'subreddit_name_prefixed', 'subreddit_subscribers',
       'subreddit_type', 'suggested_sort', 'thumbnail', 'title', 'ups', 'url',
       'user_reports', 'view_count', 'visited', 'whitelist_status', 'wls'],
      dtype='object')

In [11]:
march_df.drop(columns = 'url', inplace = True)

In [12]:
march_df_2 = march_df[['title', 'ups', 'num_comments', 'subreddit']]

In [13]:
march_df_2.head()

,title,ups,num_comments,subreddit
0,Maybe next year?,50,0,marchmadness
1,They were giants...,9,1,marchmadness
2,Purdue game killed the last shred of optimism ...,3,0,marchmadness
3,Interested in Your Opinion,2,2,marchmadness
4,Highlights,1,0,marchmadness

In [14]:
march_df_2.drop_duplicates(keep = False, inplace = True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
march_df_2.shape

(811, 4)

In [16]:
march_df_2.isnull().sum()

title           0
ups             0
num_comments    0
subreddit       0
dtype: int64

In [17]:
base_df = pd.read_csv('../datasets/base_reddit.csv')

In [18]:
base_df.shape

(924, 100)

In [19]:
base_df_2 = base_df[['title', 'ups', 'num_comments', 'subreddit']]

In [20]:
base_df_2.head()

,title,ups,num_comments,subreddit
0,[General Discussion] Around the Horn - 4/1/19,26,174,baseball
1,1919 r/baseball Power Rankings -- Preseason / ...,80,69,baseball
2,WAR is ruining the game of baseball,5106,258,baseball
3,Pete Alonso hits his first major league home r...,581,159,baseball
4,The Cubs have made 6 errors in 6 innings tonight,400,70,baseball

In [21]:
base_df_2.drop_duplicates(keep = False, inplace = True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
base_df_2.shape

(924, 4)

In [23]:
base_df_2.isnull().sum()

title           0
ups             0
num_comments    0
subreddit       0
dtype: int64

In [24]:
df = pd.concat([base_df_2, march_df_2], axis = 0)

In [25]:
df.head()

,title,ups,num_comments,subreddit
0,[General Discussion] Around the Horn - 4/1/19,26,174,baseball
1,1919 r/baseball Power Rankings -- Preseason / ...,80,69,baseball
2,WAR is ruining the game of baseball,5106,258,baseball
3,Pete Alonso hits his first major league home r...,581,159,baseball
4,The Cubs have made 6 errors in 6 innings tonight,400,70,baseball

In [26]:
df.tail()

,title,ups,num_comments,subreddit
812,Breaking Down the All-Time Greatest Milwaukee ...,2,0,marchmadness
813,Every March Madness school ranked by their mos...,1,0,marchmadness
814,"Norfolk St. and Lehigh beat Mizzou and Duke, r...",4,4,marchmadness
815,Greg Gumbel photo bomb,0,0,marchmadness
816,Fuck UConn,0,2,marchmadness

In [27]:
df.shape

(1735, 4)

In [28]:
df.drop_duplicates(keep = False, inplace = True)

In [29]:
df.shape

(1735, 4)

In [30]:
df.to_csv('concat_data.csv', index=False)